/* Attaching google fonts */
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');

html {
 /* prevents padding from adding extra width and height. page is stretched/ reduced to fit the browser window */
 box-sizing: border-box; 
}

body {
 margin:0;
 font-family: 'Sansita Swashed', cursive, sans-serif;
 font-size: 16px;
 background-color: whitesmoke;
}

h1 {
 text-align: center;
 margin-top: 0.6em;
 margin-bottom: 0.4em;
 font-size: 2.5rem;
 letter-spacing: 0.05em;
}

/* Loader */
/* Create an offwhite layer on the page and then put the loader in the center */
.loader{
 position: fixed;
 /* to pull across the page use the trick. put top bottom left right to be Zero so they pull the background across the 4 corners of the page. hence the loader extends between the 4 corners i.e. across the page */
 
 top:0;
 bottom: 0;
 left:0;
 right:0;
 background: rgba(255,255,255,0.6);/* Add an offwhite layer 255,255,255 is white with 0.6 opacity*/
}

/* Target the img tag inside the loader class. img is a child of the loader class */
.loader img{
 position: fixed;
 top:50%;
 left:50%;
  /* Note: With above the loader is not on th ecenter of the page. Only the tip of the loader is at the center. Now to push the loader to the center we have to move the loader -50% on x(up) and -50% on y(left). then the loader's center is same as the page center. Remember 50% is from the size of the loader on that axis. Also movement is done by setting the transform property and setting it to translate(-50%,-50%) */
 transform: translate(-50%,-50%)
}

/* Styling Image Container */

.image-container{
 /* border: 2px solid magenta; */
 /* top bottom of 10px and left and right of 20% each. image is 60% wide */
 margin: 10px 20%;

}

.image-container img {
 /* Image is 100% wide as the container */
 width:100%;
 /* add a margin of 0.4 rem i.e. 0.4 * 16 = 6.4 px on image top */
 margin-top: 0.4rem;

}

/* Media Query for smartphones
Pixel2 is 411 pixel wide and 823 px long from dev tools. 
So for anything with width less than 600px plz do
 1. decrease the size of the heading and the spacing between the letters
 2. decrease the image container border from 20% Left and 20% right (total 40% to 0%)
*/
@media screen and (max-width: 600px) {
 h1 {
  font-size: 1.5rem;
  letter-spacing: 0.02em;
 }
 .image-container{
  /* border: 2px solid magenta; */
  margin: 10px;
 
 }
 
}